:root {
  /* Light theme colors */
  --color-bg: #ffffff;
  --color-text: #1e1e2f;
  --color-header: #2d2f91;
  --color-hero: #75ead9;
  --color-button: #2d2f91;
  --color-button-text: var(--color-hero);
  --color-info-strong: var(--color-header);
  --color-timer: #ff0d00;
}

.dark {
  /* Dark theme colors */
  --color-bg: #1e1e2f;
  --color-text: #ffffff;
  --color-header: #1a1c6b;
  --color-hero: #0d9488;
  --color-button: #1a1c6b;
  --color-button-text: var(--color-hero);
  --color-info-strong: #0d9488;
  --color-timer: #ff2f24;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
